header {
	background-color:#0D9488;
	text-decoration-color:black;
  position: -webkit-sticky;
  position: sticky;
  top: 0
}

body {
  background-color: #F2F2F2;
  font-size: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 2000px;
}

li a {
  display: block;
  color: ;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: white;
}
  li a.active {
  background-color: #8C1636;
  color: white;
}

li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #038C8C;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #202626; 
}

h1 {
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 5px
}

h2 {
  border: 1px #C3E4DF;
  outline-style: solid;
  outline-color: invert;
  width: 30%;
  background-color: #C7D1D9; 
}

.first {
  background-color: lightgrey;
}

.mainpage {
  font-family: "Times New Roman", Times, serif;
}

.second1 {
  text-align: center;
  color: #112026;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px #3D5E73;
}
.second {
  letter-spacing: 3px;
}
.customer {
  text-align: center;
}
.stores {
  background-color: lightgrey;
}

h3 {
   font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 5px color:;
}
#summary {
  font-size: 20px;
}
#month {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}
#hours {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
#buy {
  font-size: 18px;
  font-style: "Times New Roman", Times, serif;
}
.even {
    background-color: #E6E2E1;
}
.odd {
    background-color: #E0DDDC;
}